<div class="divContainer">
  <nav class="navbar navbar-dark  navbar-expand-lg divNav">
    <a class="navbar-brand" href="#">
      <h1>DesingMatch</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#about">Nosotros<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#service">Servicios<span class="sr-only"></span></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0 blog" (click)="openModal(false)">Registrarme</button>
      </form>
    </div>
  </nav>
  <div class="body">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row divText">
          <p class="text-center"> <strong>DesingMatch</strong> esta diseñado en dar enfoque visual a su negocio</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 divImg text-center">
        <img src="/assets/img/gif2.gif" alt="" class="gifImg">
      </div>
    </div>
  </div>
  <div class="divAbout" id="about">
    <div class="container">
      <br>
      <h1 class="text-center">
        <strong>Sobre Nosotros</strong> 
      </h1>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates, sint animi enim culpa deleniti et
        ratione doloribus praesentium voluptas molestias quam, aut eveniet veritatis dolore, pariatur autem
        exercitationem natus.
      </p>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptates, sint animi enim culpa deleniti et
        ratione doloribus praesentium voluptas molestias quam, aut eveniet veritatis dolore, pariatur autem
        exercitationem natus.
      </p>
      <br>

    </div>
  </div>

  <div class="divService" id="service">
    <div class="container">
        <h1 class="text-center"> <strong>Estamos a tu servicio</strong> </h1>
        <hr style="background: rgb(233, 97, 73);">

        <div class="row">
          <div class="col-sm-12 col-md-3">

            <div class="row text-center">
              <div class="col-12 ">
                <img src="/assets/img/diseño.PNG" class="imgService">
              </div>
              <div class="col-12"><h3>Diseños robustos</h3></div>
              <div class="col-12"><p class="pService">Nuestros diseños se actualizan regularmente para mantenerlos estilos que se acomoden a tu gusto.</p></div>
            </div>

            

          </div>
          <div class="col-sm-12 col-md-3">
             
              <div class="row text-center">
                  <div class="col-12 "> <img src="/assets/img/actualizadoPNG.PNG" class="imgService"></div>
                  <div class="col-12"><h3>Actualizados</h3></div>
                  <div class="col-12"><p class="pService">Todas los diseños se mantienen  actualizadas para mantener las cosas frescas.</p></div>
                </div>

          </div>

          <div class="col-sm-12 col-md-3">
          
              <div class="row text-center">
                  <div class="col-12 ">   <img src="/assets/img/circulo.PNG" class="imgService"></div>
                  <div class="col-12"><h3>Listo para publicar</h3></div>
                  <div class="col-12"><p class="pService">Puedes ver los diseños o puede hacer cambios.</p></div>
                </div>

          </div>
          <div class="col-sm-12 col-md-3">
              
              <div class="row  text-center">
                  <div class="col-12"><img src="/assets/img/corazon.PNG" class="imgService"></div>
                  <div class="col-12"><h3>Hecho con amor</h3></div>
                  <div class="col-12"><p class="pService">¿Brindamos la ayuda para que logres cumplir tus metas?</p></div>
                </div>

          </div>
        </div>
    </div>
    
  </div>

</div>