.container {
    font-family: 'Roboto Slab', serif;
    background: rgb(233, 230, 223);
    height: 100%;
 }
 
 h1 {
     font-size: 50px;
     color: white;
     margin-top: 20px;
 }
 
 .head {
     height: 100px;
 }
 
 .btn-lg {
     margin-top: 20px;
 }
 
 .mat-fab{
     width: 80px;
     height: 80px;
     background: rgb(233, 97, 73);
 }

 .btn-div{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .clear{
    margin: 15px;
  }
  
  .required{
  color: red;
  font-weight: bolder;
  }
  
  .btn-div{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .btn{
    margin: 10px;
  }
  
  .main-form{
    margin: 0 auto;
    width: 50%;
  }
  
  .form-group{
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  
  }


  .matInput{
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    font-size: 20px;
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
 
